.hdr {
    background-color: #D2CCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 10rem;
}
.icon {
    background-color: #F5F3C9;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
}
.nav {
    background-color: #F5DFD2;
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
